@model EntityLayer.Concrete.Admin
@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Yeni Yönetici Kaydı</h1>
    <form method="post">
        <div class="form-group">
            @Html.Label("Kullanıcı Adı")
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input type="text" asp-for="UserName" class="form-control"/>
        </div><br />
        <div class="form-group">
            @Html.Label("Şifre")
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="password" asp-for="Password" class="form-control"/>
        </div><br />
     
        <button class="btn btn-outline-info">Kaydet</button>
    </form>
</div>
