@model EntityLayer.Concrete.Contact

<div class="col-sm-12 col-md-6">
    <form  method="get">
        <input id="name" name="name" type="text" placeholder="Adınız Soyadınız" class="tm-input" required />
        <input id="email" name="email" type="email" placeholder="Mail Adresiniz" class="tm-input" required />
        <textarea id="message" name="message" rows="8" placeholder="Mesajınız" class="tm-input" required></textarea>
        <button type="submit" class="btn tm-btn-submit">Gönder</button>
    </form>
</div>