@using EntityLayer.Concrete
@model List<Gallery>

@foreach(var item in Model)
{
    <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">İlanlar</h2>
            <p class="mx-auto tm-section-desc">
                @item.IlanlarMetni
            </p>
        </div>
    </div>
}
