@using EntityLayer.Concrete
@model List<ServiceHousing>


<div class="row">
    <div class="col-12">
        <div class="mx-auto tm-gallery-container">
            <div class="grid tm-gallery">
                @foreach(var item in Model)
                {
                    <a href="~/templateuser/img/gallery-img-01.jpg">
                        <figure class="effect-honey tm-gallery-item">
                            <img src="@item.Gorsel" alt="Image 1" class="img-fluid">
                            <figcaption>
                                <h2><i>@item.Baslik<br />@item.Fiyat</i></h2>
                            </figcaption>
                        </figure>
                    </a>
                }
            </div>
        </div>
    </div>
</div>