@using EntityLayer.Concrete
@model List<AboutUs>
@foreach(var item in Model)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hakkımızda</h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                     src="~/templateadmin/img/Buzkan gayrimenkul.png" alt="...">
            </div>
            <p>
               @item.HakkimizdaMetni
            </p>
            <a rel="nofollow" href="/AboutUs/Index/">
                Düzenlemek için tıklayın &rarr;
            </a>
        </div>
    </div>
}